.env
.env.example
.env.testing
.idea
.DS_Store
.git
.gitignore
.gitattributes
.dockerignore
docker
vendor
tests
dev.up.sh
docker-compose.yml
docker-compose-sonarqube.yml
tests
phpunit.xml
readme.md
cloud_sql_proxy
composer.lock
.elasticbeanstalk/*