.env
.idea
.vscode
.phpunit.result.cache
.DS_Store
.scannerwork

/public/storage
/storage/*.key
/storage/*.json
/storage/*.pid
/vendor

/tests/sonar-scanner/*.key
/tests/sonar-scanner/*.sh
/tests/coverage

app.staging.yaml
app.production.yaml

# Below is different than .gitignore
.git
.gitattributes
.gitignore
.env.example
.env.testing

docker-compose.yml
docker-compose.sonarqube.yml
docker-compose.testing.yml
phpcs.xml
phpunit.xml
README.md

app/Domain/*/Tests
